body
{
	background-color: LightGreen;
}

.container
{
	margin-top: 20px;
	width: 810px;
	border: solid;
	border-width: 2px;
	background: white;
}

header
{
	padding-top: 20px;
}

section
{
	margin-top: 2em;
	font-size: 120%;
	padding: 20px;
	width: 740px;
}

section h1
{
	font-size: 200%;
}

/* Links */

a:link, a:visited
{
	color: #069;
	text-decoration: none;
}

a:hover, a:active
{
	color: #069;
	text-decoration: underline;
}

/* Navigation */

nav
{
	float: left;
	white-space: nowrap;
}

nav ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
}

nav ul li
{
	float: left;
}

nav ul li a:link, nav ul li a:visited
{
	display:block;
	width: 125px;
	font-weight: bold;
	color: #069;
	background-color: rgb(230, 230, 230);
	text-align: center;
	padding: 5px;
}

nav ul li a:hover, nav ul li a:active
{
	background-color: rgb(192, 192, 192);
	text-decoration: none;
}

/* Round corners */
/*
#first_link
{
	border:2px solid #a1a1a1;
	backgroung:green;
	border-radius: 10px;
}
*/
/*
.round
{
	border:2px solid #a1a1a1;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
*/

/* Footer */

footer
{
	text-align: center;
	margin-top: 10px;
	font-size: 10px;
}
