<h1>Consultórios</h1>
<p>Abaixo você pode se informar a respeito de localização e vizualizar fotos dos locais de trabalho da Dra. Fátima</p>
<ul>
	<li><%= link_to "Consultório de Santos", '#' %></li>
	<p>Localização: Rua Conselheiro Ribas, 457<br/>Telefones: (13) 3227-7075, (13) 3231-7203</p>
	<li><%= link_to "Consultório do Guarujá", '#' %></li>
	<p>Localização: Avenida Deputado Emilio Carlos, 84<br/>Telefone: (13) 3355-4554</p>
</ul>
