<h1>Convenios</h1>
<p>Nós aceitamos 4 tipos de convênios:</p>
<ul>
	<li><%= link_to "UNIMED", 'http://www.unimed.com.br' %></li>
	<li>Bradesco</li>
	<li><%= link_to "SulAmerica", 'http://www.sulamericasaudesa.com.br/' %></li>
	<li>Convênio da COSIPA</li>
</ul>
