<h1>Convenios</h1>
<p>Nós aceitamos 4 tipos de convênios:</p>
<ul>
	<li>UNIMED</li>
	<li>Bradesco</li>
	<li>Sulamerica</li>
	<li>Convênio da COSIPA</li>
</ul>
<h1>Instruções para a consulta</h1>
<p>Antes de vir se consultar, tenha certeza de que está trazendo os seguintes documentos:</p>
<ul>
	<li>Carteira de identidade (RG)</li>
	<li>Carteira do Convênio</li>
</ul>