<h1>Dra. Maria de Fátima Maklouf Amorim Ruiz</h1>
<h4>Currículo</h4>
<ul>
	<li>Formou-se na Faculdade de Ciências Médicas de Santos no dia 10/12/1988,<br/>Especialidade: medicina</li>
	<li>Adquiriu seu mestrado na Escola Paulista de Medicina no dia 00/00/0000,<br/>Especialidade: cabelo</li>
	<li>Participou de diversos Congressos Internacionacionais de Dermatologia</li>
</ul>
