<h1>Dermatologia: estética e saúde</h1>
<p>Se você procura uma renomada dermatologista para cuidade de problemas de pele ou rejuvenecer sua aparencia melhorando seu lado estético, você veio ao lugar certo.</p>
<p>Dra. Maria de Fátima Maklouf Amorim Ruiz, uma das melhores médicas do estado de São Paulo, trabalha em quatro lugares diferentes, sendo dois deles seus consultórios próprios.</p>
<p>Consulte os <%= link_to "procedimentos", procedimentos_path %> oferecidos, procure pelo <%= link_to "consultório", consultorios_path %> em que deseja ser atendido e entre em <%= link_to "contato", contato_path %> para marcar uma consulta.</p>
