<h1>Procedimentos</h1>
<p>Nossos procedimentos são divididos em estéticos e de saúde</p>
<h4>Estéticos</h4>
<ul>
	<li><%= link_to 'Botox', '#' %></li>
	<p>Descrição: a aplicação de botox é um procedimento que evita o evelhecimento do rosto.</p>
	<li><%= link_to 'Pilin', '#' %></li>
	<p>Descrição: o pilin é muito utilizado para tratamento de acne (espinhas).</p>
</ul>
<h4>Saúde</h4>
<ul>
	<li><%= link_to 'Doença de pele', '#' %></li>
	<p>Descrição: qualquer tipo de mancha ou vermelhidão é classificado como doença de pele.</p>
	<li><%= link_to 'Alguma outra doença', '#' %></li>
	<p>Descrição: alguma outra doença é um caso muito grave em que o paciente se encontra na coloração azul.</p>
</ul>
